name: "Test List S3 Caches"

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Who triggered this build?'
        required: true
        default: 'Maintainer (via GitHub)'
        
jobs:
  test-s3-list:
    name: "List S3 renv caches"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: "Validate Current Org and Workflow"
        id: validate-org-workflow
        uses: carpentries/actions/validate-org-workflow@frog-s3-test-1
        with:
          repo: ${{ github.repository }}
          workflow: ${{ github.workflow }}

      - name: "Configure AWS credentials via OIDC"
        id: aws-creds
        env:
          role-to-assume: ${{ secrets.AWS_GH_OIDC_ARN }}
          aws-region: ${{ secrets.AWS_GH_OIDC_REGION }}
        if: |
          env.role-to-assume != '' &&
          env.aws-region != ''
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          role-to-assume: ${{ env.role-to-assume }}
          aws-region: ${{ env.aws-region }}
          output-credentials: true
      
      - name: "List current cache objects in S3 bucket"
        uses: gsaraf/aws-s3-github-action@master
        env:
          role-to-assume: ${{ secrets.AWS_GH_OIDC_ARN }}
          aws-region: ${{ secrets.AWS_GH_OIDC_REGION }}
        if: |
          steps.upload-cache.outcome == 'success' &&
          env.role-to-assume != '' &&
          env.aws-region != ''
        with:
          command: ls
          source: s3://workbench-docker-caches/${{ github.repository }}/
          aws_access_key_id: ${{ steps.aws-creds.outputs.aws-access-key-id }}
          aws_secret_access_key: ${{ steps.aws-creds.outputs.aws-secret-access-key }}
          aws_region: ${{ env.aws-region }}
          
